<div class="details-bg">

  <div class="back-to">
    <p><a href="#">&larr; back to search results</a></p>
  </div>

  <div class="pod-info">
    <p class="thumb">
      <img src="http://icebox.5by5.tv/images/broadcasts/47/cover.jpg" />
    </p>
    <h1>The Crossover</h1>
    <p class="desc">A weekly discussion featuring hosts from 5by5's many shows with no limit on topic or fixed agenda; a freeform flow of ideas leading to a great conversation, from culture to tech and beyond. Hosted by Dan Benjamin.</p>
    <ul class="actions">
      <li><a href="">iTunes</a></li>
      <li><a href="">RSS</a></li>
      <li><a href="">Podcast Website</a></li>
    </ul>
  </div> <!-- end: .pod-info -->

  <div class="ep-box">
    <h4>Most Recent Episode</h4>
    <ul class="eps">
      <% 1.times do %>
      <li class="ep">
        <div class="datetime">
          <span class="date">Sep 12, 2012</span>
          <span class="time">10:45 PM</span>
        </div> <!-- end: .date -->
        <div class="desc">
          <h3>5by5 Specials 8: The iPhone 5</h3>
          <p>Dan Benjamin is joined by Christina Warren, Marco Arment, John Siracusa, and Haddie Cooke to discuss Apple's iPhone 5 announcement.</p>
          <ul class="actions">
            <li><a href="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2012/specials-008.mp3">Listen</a></li>
            <li><a href="http://5by5.tv/specials/8">Episode Webpage</a></li>
          </ul>
        </div> <!-- end: .desc -->
        <div class="player">
          
        </div> <!-- end: .player -->
      </li> <!-- end: .ep -->
      <% end %>
    </ul> <!-- end: .eps -->
  </div> <!-- end: .ep-box -->

  <div class="ep-box">
    <h4>Past Episodes</h4>
    <ul class="eps">
      <% 5.times do %>
      <li class="ep">
        <div class="datetime">
          <span class="date">Sep 12, 2012</span>
          <span class="time">10:45 PM</span>
        </div> <!-- end: .date -->
        <div class="desc">
          <h3>5by5 Specials 8: The iPhone 5</h3>
          <p>Dan Benjamin is joined by Christina Warren, Marco Arment, John Siracusa, and Haddie Cooke to discuss Apple's iPhone 5 announcement.</p>
          <ul class="actions">
            <li><a href="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2012/specials-008.mp3">Listen</a></li>
            <li><a href="http://5by5.tv/specials/8">Episode Webpage</a></li>
          </ul>
        </div> <!-- end: .desc -->
        <div class="player">
          
        </div> <!-- end: .player -->
      </li> <!-- end: .ep -->
      <% end %>
    </ul>

  </div> <!-- end: .ep-box -->

</div> <!-- end: .details-bg -->
