<div class="side">
  <ul>
    <li><a href="#">The Doors</a></li>
    <li><a href="#">Jimmy Buffett</a></li>
    <li><a href="#">Mason Jennings</a></li>
    <li><a href="#">Bob Dylan</a></li>
    <li><a href="#">Cat Stevens</a></li>
    <li><a href="#">Jack Johnson</a></li>
    <li><a href="#">Sublime</a></li>
    <li><a href="#">Sufjan Stevens</a></li>
    <li><a href="#">Dave Matthews Band</a></li>
    <li><a href="#">Arcade Fire</a></li>
    <li><a href="#">The Doors</a></li>
    <li><a href="#">Jimmy Buffett</a></li>
    <li><a href="#">Mason Jennings</a></li>
    <li><a href="#">Bob Dylan</a></li>
    <li><a href="#">Cat Stevens</a></li>
    <li><a href="#">Jack Johnson</a></li>
    <li><a href="#">Sublime</a></li>
    <li><a href="#">Sufjan Stevens</a></li>
    <li><a href="#">Dave Matthews Band</a></li>
    <li><a href="#">Arcade Fire</a></li>
  </ul>
</div> <!-- end : -->

<div class="main">
  <div class="show-details">
    <div class="back-to">
      <p><a href="#">« back to list</a></p>
    </div>
    <div class="details-wrap">

<div class="podcast_episodes">

          <div class="episode">
            <div class="datetime">
              <span class="date">Sep 11, 2013</span>
              <span class="time"> 1:00 AM</span>
            </div> <!-- end: .date -->
            <div class="desc">
              <h3>5by5 Specials 22: Apple Event: iPhone 5c and 5s</h3>
              <p>Dan is joined by Christina Warren, Horace Dediu, Benedict Evans, and Haddie Cooke to discuss their thoughts on the September 10th Apple Event announcing the iPhone 5c, iPhone 5s, and more. </p>
              
              <p class="sub">
                <a href="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2013/specials-022.mp3">Listen</a>&nbsp;•&nbsp;
                <a href="http://5by5.tv/specials/22">Webpage</a>
              </p>
              <audio src="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2013/specials-022.mp3" preload="auto"></audio>
            </div> <!-- end: .desc -->
            <div class="player">
              
            </div> <!-- end: .player -->
          </div> <!-- end: .episode -->
          <div class="episode">
            <div class="datetime">
              <span class="date">Sep  6, 2013</span>
              <span class="time"> 6:00 PM</span>
            </div> <!-- end: .date -->
            <div class="desc">
              <h3>5by5 Specials 21: Vis-à-vis Nokia (Critical Path #95)</h3>
              <p>A special episode in three parts: 1) Too many variables: The mechanics of the Microsoft Nokia deal 2) Climbing Everest without oxygen: The implications for Microsoft and 3) Post-abyss: The implications for Nokia.</p>
              
              <p class="sub">
                <a href="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2013/specials-021.mp3">Listen</a>&nbsp;•&nbsp;
                <a href="http://5by5.tv/specials/21">Webpage</a>
              </p>
              <audio src="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2013/specials-021.mp3" preload="auto"></audio>
            </div> <!-- end: .desc -->
            <div class="player">
              
            </div> <!-- end: .player -->
          </div> <!-- end: .episode -->
          <div class="episode">
            <div class="datetime">
              <span class="date">Aug 13, 2013</span>
              <span class="time"> 5:00 PM</span>
            </div> <!-- end: .date -->
            <div class="desc">
              <h3>5by5 Specials 20: Black Tar Merlin: Comic Con 2013</h3>
              <p>Jason Snell joins Moisés to discuss the chaos of San Diego Comic Con, new Doctor Who star Peter Capaldi, ChromeCast viability, and nerd culture in constant evolution.</p>
              
              <p class="sub">
                <a href="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2013/specials-020.mp3">Listen</a>&nbsp;•&nbsp;
                <a href="http://5by5.tv/specials/20">Webpage</a>
              </p>
              <audio src="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2013/specials-020.mp3" preload="auto"></audio>
            </div> <!-- end: .desc -->
            <div class="player">
              
            </div> <!-- end: .player -->
          </div> <!-- end: .episode -->
          <div class="episode">
            <div class="datetime">
              <span class="date">May 21, 2013</span>
              <span class="time">11:00 PM</span>
            </div> <!-- end: .date -->
            <div class="desc">
              <h3>5by5 Specials 19: Haddie Cooke on Show Me Your Mic</h3>
              <p>5by5 Producer Haddie Cooke is interviewed by Chris Enns for Episode 14 of Show Me Your Mic.</p>
              
              <p class="sub">
                <a href="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2013/specials-019.mp3">Listen</a>&nbsp;•&nbsp;
                <a href="http://5by5.tv/specials/19">Webpage</a>
              </p>
              <audio src="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2013/specials-019.mp3" preload="auto"></audio>
            </div> <!-- end: .desc -->
            <div class="player">
              
            </div> <!-- end: .player -->
          </div> <!-- end: .episode -->
          <div class="episode">
            <div class="datetime">
              <span class="date">May 19, 2013</span>
              <span class="time"> 1:00 PM</span>
            </div> <!-- end: .date -->
            <div class="desc">
              <h3>5by5 Specials 18: Merlin Mann on Beyond the To-Do List Podcast</h3>
              <p>Merlin Mann is interviewed by Erik Fisher on the Beyond the To-Do List Podcast and talks about what the word ‘productivity’ really means, Merlin’s super-hero origin story as a student of productivity, The creation of 43Folders, what Inbox Zero started as </p>
              
              <p class="sub">
                <a href="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2013/specials-018.mp3">Listen</a>&nbsp;•&nbsp;
                <a href="http://5by5.tv/specials/18">Webpage</a>
              </p>
              <audio src="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2013/specials-018.mp3" preload="auto"></audio>
            </div> <!-- end: .desc -->
            <div class="player">
              
            </div> <!-- end: .player -->
          </div> <!-- end: .episode -->
          <div class="episode">
            <div class="datetime">
              <span class="date">May  3, 2013</span>
              <span class="time"> 4:00 PM</span>
            </div> <!-- end: .date -->
            <div class="desc">
              <h3>5by5 Specials 17: Dan Benjamin on The MovieByte Podcast #42: One Movie A Year</h3>
              <p>Dan Benjamin joins TJ and Joe for episode 42 of The MovieByte Podcast to discuss John Williams, online media consumption versus broadcast TV, some thoughts about J.J. Abrams version of Star Trek, and ‘Star Trek II: The Wrath of Khan’ which leads to some g</p>
              
              <p class="sub">
                <a href="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2013/specials-017.mp3">Listen</a>&nbsp;•&nbsp;
                <a href="http://5by5.tv/specials/17">Webpage</a>
              </p>
              <audio src="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2013/specials-017.mp3" preload="auto"></audio>
            </div> <!-- end: .desc -->
            <div class="player">
              
            </div> <!-- end: .player -->
          </div> <!-- end: .episode -->
          <div class="episode">
            <div class="datetime">
              <span class="date">May  2, 2013</span>
              <span class="time"> 3:00 PM</span>
            </div> <!-- end: .date -->
            <div class="desc">
              <h3>5by5 Specials 16: Put a Collar On with Dan Benjamin</h3>
              <p>Dan Benjamin is interviewed by Tim Smith for The East Wing, a weekly show that talks about design, user experience, problem solving and the keys to creating products with value.</p>
              
              <p class="sub">
                <a href="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2013/specials-016.mp3">Listen</a>&nbsp;•&nbsp;
                <a href="http://5by5.tv/specials/16">Webpage</a>
              </p>
              <audio src="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2013/specials-016.mp3" preload="auto"></audio>
            </div> <!-- end: .desc -->
            <div class="player">
              
            </div> <!-- end: .player -->
          </div> <!-- end: .episode -->
          <div class="episode">
            <div class="datetime">
              <span class="date">Apr 11, 2013</span>
              <span class="time"> 4:15 PM</span>
            </div> <!-- end: .date -->
            <div class="desc">
              <h3>5by5 Specials 15: Dan Benjamin on Michael Wolf's NextMarket</h3>
              <p>Dan Benjamin is interviewed by Michael Wolf for the NextMarket Podcast.</p>
              
              <p class="sub">
                <a href="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2013/specials-015.mp3">Listen</a>&nbsp;•&nbsp;
                <a href="http://5by5.tv/specials/15">Webpage</a>
              </p>
              <audio src="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2013/specials-015.mp3" preload="auto"></audio>
            </div> <!-- end: .desc -->
            <div class="player">
              
            </div> <!-- end: .player -->
          </div> <!-- end: .episode -->
          <div class="episode">
            <div class="datetime">
              <span class="date">Apr 11, 2013</span>
              <span class="time"> 4:00 PM</span>
            </div> <!-- end: .date -->
            <div class="desc">
              <h3>5by5 Specials 14: Dan Benjamin Interviewed for Show Me Your Mic #8</h3>
              <p>Dan Benjamin is interviewed by Chris Enns for episode 8 of Show Me Your Mic.</p>
              
              <p class="sub">
                <a href="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2013/specials-014.mp3">Listen</a>&nbsp;•&nbsp;
                <a href="http://5by5.tv/specials/14">Webpage</a>
              </p>
              <audio src="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2013/specials-014.mp3" preload="auto"></audio>
            </div> <!-- end: .desc -->
            <div class="player">
              
            </div> <!-- end: .player -->
          </div> <!-- end: .episode -->
          <div class="episode">
            <div class="datetime">
              <span class="date">Mar 14, 2013</span>
              <span class="time">10:00 PM</span>
            </div> <!-- end: .date -->
            <div class="desc">
              <h3>5by5 Specials 13: Radio Is Dead</h3>
              <p>Dan Benjamin and Myke Hurley of 70 Decibels discuss how Podcasting is evolving, the power of networks and share a huge announcement. This episode is a cross-post of 70 Decibel's CMD+SPACE episode 33.</p>
              
              <p class="sub">
                <a href="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2013/specials-013.mp3">Listen</a>&nbsp;•&nbsp;
                <a href="http://5by5.tv/specials/13">Webpage</a>
              </p>
              <audio src="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2013/specials-013.mp3" preload="auto"></audio>
            </div> <!-- end: .desc -->
            <div class="player">
              
            </div> <!-- end: .player -->
          </div> <!-- end: .episode -->
          <div class="episode">
            <div class="datetime">
              <span class="date">Jan 21, 2013</span>
              <span class="time"> 7:30 PM</span>
            </div> <!-- end: .date -->
            <div class="desc">
              <h3>5by5 Specials 12: We Believed Him: Part II</h3>
              <p>Haddie Cooke and Dan Benjamin take callers and discuss the second half of the Lance Armstrong interview by Oprah. </p>
              
              <p class="sub">
                <a href="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2013/specials-012.mp3">Listen</a>&nbsp;•&nbsp;
                <a href="http://5by5.tv/specials/12">Webpage</a>
              </p>
              <audio src="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2013/specials-012.mp3" preload="auto"></audio>
            </div> <!-- end: .desc -->
            <div class="player">
              
            </div> <!-- end: .player -->
          </div> <!-- end: .episode -->
          <div class="episode">
            <div class="datetime">
              <span class="date">Jan 18, 2013</span>
              <span class="time"> 6:30 PM</span>
            </div> <!-- end: .date -->
            <div class="desc">
              <h3>5by5 Specials 11: We Believed Him (Lance Armstrong) Part 1</h3>
              <p>Part 1 of Haddie Cooke and Dan Benjamin's discussion about the Lance Armstrong interview.</p>
              
              <p class="sub">
                <a href="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2012/specials-011.mp3">Listen</a>&nbsp;•&nbsp;
                <a href="http://5by5.tv/specials/11">Webpage</a>
              </p>
              <audio src="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2012/specials-011.mp3" preload="auto"></audio>
            </div> <!-- end: .desc -->
            <div class="player">
              
            </div> <!-- end: .player -->
          </div> <!-- end: .episode -->
          <div class="episode">
            <div class="datetime">
              <span class="date">Nov 18, 2012</span>
              <span class="time"> 7:00 PM</span>
            </div> <!-- end: .date -->
            <div class="desc">
              <h3>5by5 Specials 10: State of the Union for 2012</h3>
              <p>Dan Benjamin delivers the 5by5 State of the Union Address for 5by5. New beginnings and the end of an era.</p>
              
              <p class="sub">
                <a href="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2012/specials-010.mp3">Listen</a>&nbsp;•&nbsp;
                <a href="http://5by5.tv/specials/10">Webpage</a>
              </p>
              <audio src="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2012/specials-010.mp3" preload="auto"></audio>
            </div> <!-- end: .desc -->
            <div class="player">
              
            </div> <!-- end: .player -->
          </div> <!-- end: .episode -->
          <div class="episode">
            <div class="datetime">
              <span class="date">Oct  4, 2012</span>
              <span class="time"> 8:45 PM</span>
            </div> <!-- end: .date -->
            <div class="desc">
              <h3>5by5 Specials 9: CMD+SPACE Episode 11, with Guest Dan Benjamin</h3>
              <p>Dan Benjamin joins Myke Hurley for an episode of CMD+SPACE of the 70 Decibels network.</p>
              
              <p class="sub">
                <a href="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2012/specials-009.mp3">Listen</a>&nbsp;•&nbsp;
                <a href="http://5by5.tv/specials/9">Webpage</a>
              </p>
              <audio src="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2012/specials-009.mp3" preload="auto"></audio>
            </div> <!-- end: .desc -->
            <div class="player">
              
            </div> <!-- end: .player -->
          </div> <!-- end: .episode -->
          <div class="episode">
            <div class="datetime">
              <span class="date">Sep 12, 2012</span>
              <span class="time">10:45 PM</span>
            </div> <!-- end: .date -->
            <div class="desc">
              <h3>5by5 Specials 8: The iPhone 5</h3>
              <p>Dan Benjamin is joined by Christina Warren, Marco Arment, John Siracusa, and Haddie Cooke to discuss Apple's iPhone 5 announcement.</p>
              
              <p class="sub">
                <a href="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2012/specials-008.mp3">Listen</a>&nbsp;•&nbsp;
                <a href="http://5by5.tv/specials/8">Webpage</a>
              </p>
              <audio src="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2012/specials-008.mp3" preload="auto"></audio>
            </div> <!-- end: .desc -->
            <div class="player">
              
            </div> <!-- end: .player -->
          </div> <!-- end: .episode -->
          <div class="episode">
            <div class="datetime">
              <span class="date">Jun 14, 2012</span>
              <span class="time"> 9:00 AM</span>
            </div> <!-- end: .date -->
            <div class="desc">
              <h3>5by5 Specials 7: Dan Benjamin Guests on Episode #111 of The Bro Show</h3>
              <p>Dan Benjamin was a guest on episode #111 of The Bro Show on the 70Decibels network. Here is the interview in its entirety.</p>
              
              <p class="sub">
                <a href="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2012/specials-007.mp3">Listen</a>&nbsp;•&nbsp;
                <a href="http://5by5.tv/specials/7">Webpage</a>
              </p>
              <audio src="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2012/specials-007.mp3" preload="auto"></audio>
            </div> <!-- end: .desc -->
            <div class="player">
              
            </div> <!-- end: .player -->
          </div> <!-- end: .episode -->
          <div class="episode">
            <div class="datetime">
              <span class="date">May 21, 2012</span>
              <span class="time"> 2:00 PM</span>
            </div> <!-- end: .date -->
            <div class="desc">
              <h3>5by5 Specials 6: Regarding The Talk Show</h3>
              <p>Dan Benjamin shares his thoughts about The Talk Show.</p>
              
              <p class="sub">
                <a href="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2012/specials-006.mp3">Listen</a>&nbsp;•&nbsp;
                <a href="http://5by5.tv/specials/6">Webpage</a>
              </p>
              <audio src="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2012/specials-006.mp3" preload="auto"></audio>
            </div> <!-- end: .desc -->
            <div class="player">
              
            </div> <!-- end: .player -->
          </div> <!-- end: .episode -->
          <div class="episode">
            <div class="datetime">
              <span class="date">Mar  7, 2012</span>
              <span class="time">10:00 PM</span>
            </div> <!-- end: .date -->
            <div class="desc">
              <h3>5by5 Specials 5: Fat Wireless: iPad 3rd Generation</h3>
              <p>Dan Benjamin, Marco Arment, and Horace Dediu discuss the just-announced Apple iPad 3rd Generation.
</p>
              
              <p class="sub">
                <a href="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2012/specials-005.mp3">Listen</a>&nbsp;•&nbsp;
                <a href="http://5by5.tv/specials/5">Webpage</a>
              </p>
              <audio src="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2012/specials-005.mp3" preload="auto"></audio>
            </div> <!-- end: .desc -->
            <div class="player">
              
            </div> <!-- end: .player -->
          </div> <!-- end: .episode -->
          <div class="episode">
            <div class="datetime">
              <span class="date">Feb 11, 2012</span>
              <span class="time">12:30 AM</span>
            </div> <!-- end: .date -->
            <div class="desc">
              <h3>5by5 Specials 4: Kindacritical</h3>
              <p>Dan Benjamin is joined by Merlin Mann and Marco Arment for a very special show. In this Hypercritical-like episode, the trio discuss a wide-range of topics, from Google to Apple to software development, and the relationship between consumers and the compa</p>
              
              <p class="sub">
                <a href="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2012/specials-004.mp3">Listen</a>&nbsp;•&nbsp;
                <a href="http://5by5.tv/specials/4">Webpage</a>
              </p>
              <audio src="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2012/specials-004.mp3" preload="auto"></audio>
            </div> <!-- end: .desc -->
            <div class="player">
              
            </div> <!-- end: .player -->
          </div> <!-- end: .episode -->
          <div class="episode">
            <div class="datetime">
              <span class="date">Dec 24, 2011</span>
              <span class="time"> 5:00 PM</span>
            </div> <!-- end: .date -->
            <div class="desc">
              <h3>5by5 Specials 3: The Best of 2011</h3>
              <p>Prepare yourself for the the 5by5 2011 Holiday Extravaganza, featuring a collection of our favorite moments over the last year. We hope you have a great holiday and a happy new year.</p>
              
              <p class="sub">
                <a href="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2011/specials-003.mp3">Listen</a>&nbsp;•&nbsp;
                <a href="http://5by5.tv/specials/3">Webpage</a>
              </p>
              <audio src="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2011/specials-003.mp3" preload="auto"></audio>
            </div> <!-- end: .desc -->
            <div class="player">
              
            </div> <!-- end: .player -->
          </div> <!-- end: .episode -->
          <div class="episode">
            <div class="datetime">
              <span class="date">Oct  7, 2011</span>
              <span class="time"> 2:00 PM</span>
            </div> <!-- end: .date -->
            <div class="desc">
              <h3>5by5 Specials 2: Thank You, Steve Jobs</h3>
              <p>A collection of stories, thoughts, and memories about Steve Jobs and Apple by 5by5 hosts and friends, expressing how their lives have been changed for the better by Steve and Apple.</p>
              
              <p class="sub">
                <a href="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2011/specials-002.mp3">Listen</a>&nbsp;•&nbsp;
                <a href="http://5by5.tv/specials/2">Webpage</a>
              </p>
              <audio src="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2011/specials-002.mp3" preload="auto"></audio>
            </div> <!-- end: .desc -->
            <div class="player">
              
            </div> <!-- end: .player -->
          </div> <!-- end: .episode -->
          <div class="episode">
            <div class="datetime">
              <span class="date">Oct  4, 2011</span>
              <span class="time">10:30 PM</span>
            </div> <!-- end: .date -->
            <div class="desc">
              <h3>5by5 Specials 1: Let's Talk iPhone</h3>
              <p>Dan Benjamin talks about Apple's "Let's Talk iPhone" event with Dan Moren, Marco Arment, John Siracusa, John Gruber, Horace Dediu, Arnold Kim, and Christina Warren. Topics include the iPhone 4S hardware and form factor, the iOS update, the "geek letdown",</p>
              
              <p class="sub">
                <a href="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2011/specials-001.mp3">Listen</a>&nbsp;•&nbsp;
                <a href="http://5by5.tv/specials/1">Webpage</a>
              </p>
              <audio src="http://d.5by5.net/redirect.mp3/fly.5by5.tv/audio/broadcasts/specials/2011/specials-001.mp3" preload="auto"></audio>
            </div> <!-- end: .desc -->
            <div class="player">
              
            </div> <!-- end: .player -->
          </div> <!-- end: .episode -->

      </div>

    </div>
  </div>
</div> <!-- end : -->
