<div class="side">
  <ul>
    <li><a href="#">The Doors</a></li>
    <li><a href="#">Jimmy Buffett</a></li>
    <li><a href="#">Mason Jennings</a></li>
    <li><a href="#">Bob Dylan</a></li>
    <li><a href="#">Cat Stevens</a></li>
    <li><a href="#">Jack Johnson</a></li>
    <li><a href="#">Sublime</a></li>
    <li><a href="#">Sufjan Stevens</a></li>
    <li><a href="#">Dave Matthews Band</a></li>
    <li><a href="#">Arcade Fire</a></li>
    <li><a href="#">The Doors</a></li>
    <li><a href="#">Jimmy Buffett</a></li>
    <li><a href="#">Mason Jennings</a></li>
    <li><a href="#">Bob Dylan</a></li>
    <li><a href="#">Cat Stevens</a></li>
    <li><a href="#">Jack Johnson</a></li>
    <li><a href="#">Sublime</a></li>
    <li><a href="#">Sufjan Stevens</a></li>
    <li><a href="#">Dave Matthews Band</a></li>
    <li><a href="#">Arcade Fire</a></li>
  </ul>
</div> <!-- end : -->

<div class="main">
  <div class="show-details">
    <div class="back-to">
      <p><a href="#">« back to list</a></p>
    </div>
    <p style="height: 800px; line-height: 800px; color: white; background: red; text-align: center;">I AM THE SHOW DETAILS</p>
  </div>
</div> <!-- end : -->
