// ------------------------------------------------------------
//    Colors
// ------------------------------------------------------------

    $dark-primary: #2b3138;
    $dark-primary-dark: #242930;
    $dark-primary-active: #1f252a;

    $dark-border-dark: #212428; 
    $dark-border-darker: #161b1e;
    $dark-border-light: #343b44;

    $color-black:     #252525;
    $color-white:     #fff;
    
    //

    $color-primary: #00a79d;

    // 

    $grey: #eaeaea;


$btn-pri1: #e6e6e6;
$btn-pri2: #fff;


// Padding

$sidePadding: 15px;
$radius: 4px; 