// ------------------------------------------------------------
//    Colors
// ------------------------------------------------------------

    // Post Flat-UI
    $colorOoze: #4ecb4f;
    $colorOozeDark: #19ba5d;

    $colorMurk: #062e47;
    $colorMurkLight: #0a3a59;
    $colorMurkDark: #04253a;

    $colorMermaid: #32abc1;
    $colorMermaidDark: #1d91a6;

    // Flat UI Colors
    $colorWetAsphalt: #34495e;
    $colorMidnightBlue: #2c3e50;

    $colorAlizarin: #e74c3c;
    $colorPomegranate: #c0392b;

    $colorClouds: #ecf0f1;
    $colorSilver: #bdc3c7;
    $colorHalfSilver: #dbe4e6;
    $colorConcrete: #95a5a6;
    
    $colorNiceBlue: #36b6c6;
    $colorNiceBlueDark: #009bba;

    $dark-primary: #2b3138;
    $dark-primary-dark: #242930;
    $dark-primary-active: #1f252a;

    $dark-border-dark: #212428; 
    $dark-border-darker: #161b1e;
    $dark-border-light: #343b44;

    $color-black:     #252525;
    $color-white:     #fff;
    
    //

    $color-primary: #00a79d;

    // 

    $grey: #eaeaea;


$btn-pri1: #e6e6e6;
$btn-pri2: #fff;


// Padding

$sidePadding: 12px;
$radius: 4px; 