.feeds {
  background: $colorWetAsphalt;
  padding: 0;
  color: #fff;

  .title-box {
    padding: 32px 20px 32px;
    position: fixed;
    width: 100%;
    z-index: 20;
    background: $colorMidnightBlue;
    h1 {
      font-weight: 300;
      color: #ebf1f8;
      text-align: center;
      font-size: 48px;
      line-height: 48px;
      margin: 0 0 14px 0;
    }
    p {
      text-align: center;
      font-weight: 300;
      color: #9ba1a8;
      font-size: 16px;
      line-height: 20px;
      margin: 0 0 16px 0;
    }
    form { 
      background: $dark-border-darker;
      height: 40px;
      border-radius: 20px;
      margin: 0 auto;
      width: 260px;
      @include clearfix;
      input[type="text"] {
        float: left;
        background: none;
        border: none;
        overflow: hidden;
        color: #fff;
        height:40px;
        padding: 0 15px;
        font:1.2em/1.2 "Source Sans Pro", Arial, sans-serif;
        outline: none;
        width: 80%;
      }
      input[type="submit"] {
        float: right;
        width: 50px;
        height: 40px;
        background: transparent;
        padding: 0;
        border: none;
        background: url(/assets/_icons/search-submit-passive.png) no-repeat center;
        background-size: 20px 20px;
      }
    }
  }

  .feeds-wrap-inner {
    top: 222px;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;    
  }

  .feed {
    display: table;
    overflow:hidden; width:auto; 
    padding: 10px 12px; 
    cursor: pointer;
    border-bottom: 1px solid $colorMidnightBlue;
    background-color: transparent;
    transition: background-color 0.1s ease-in-out;
    &:first-child {
      border-top: 1px solid $colorMidnightBlue;
    }

    .thumbnail {
      display: table-cell;
      height: 40px;
      width: 40px;
      border-radius: 4px;
    }

    .text {
      width: 100%;
      display: table-cell;
      vertical-align: middle;
      padding: 0 10px;
      background: transparent url(/assets/_icons/feed-carrot-passive.png) right center no-repeat;
      background-size: 8px 14px;
      transition: background-image 0.1s ease-in-out;

      h3 {
        margin: 0;
        padding-right: 10px;
        font-size: 13px;
        line-height: 16px;
        font-weight: 400;
        color: rgba(255,255,255,0.6);
        transition: color 0.1s ease-in-out;
      }

    }

  }

}

.feeds .feed:hover {
  background-color: rgba(31,37,42,0.27);
  transition: background-color 0.1s ease-in-out;
}

.feeds .feed.active {
  background-color: $colorAlizarin; 
  transition: background-color 0.1s ease-in-out;
  .text {
    background-image: url(/assets/_icons/feed-carrot-active.png);
    transition: background-image 0.1s ease-in-out;
    h3 {
      color: #fff;
      transition: color 0.1s ease-in-out;
    }
  }
}

.feeds .feed:active .text h3 {
    top: 1px;
}

//LARGE SCREEN
@media only screen and (min-width: 800px) {
  .feeds .title-box {
    width: 300px;
  }
  .feeds .footer-box {
    width: 300px;
  }
}