.feeds {
  background: $colorMurk;
  padding: 0;
  color: #fff;

  .fadein {
    opacity: 0;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
  }
  .title-box {
    padding: 32px 20px 40px;
    width: 100%;
    z-index: 20;
    background: $colorMurk;
    h1 {
      font-weight: normal;
      color: $colorOoze;
      text-align: center;
      font-size: 52px;
      line-height: 52px;
      margin: 0 0 9px 0;
      font-family: "maven_pro_light200";
      a {
        color: $colorOoze;
      }
    }
    p {
      text-align: center;
      font-weight: 300;
      color: rgba(255,255,255,0.5);
      font-size: 14px;
      line-height: 20px;
      margin: 0 0 18px 0;
    }
    form { 
      background: #fff;
      height: 36px;
      border-radius: 18px;
      margin: 0 auto;
      width: 260px;
      @include clearfix;
      input[type="text"] {
        position: absolute;
        background: none;
        left: 0; top: 0; bottom: 0; right: 72px;
        border: none;
        overflow: hidden;
        color: $colorMurk;
        height:36px;
        padding: 0 15px;
        font:1.2em/1.2 "Source Sans Pro", Arial, sans-serif;
        outline: none;
      }
      .search-clear {
        display: block;
        position: absolute;
        right: 40px;
        top: 0; bottom: 0;
        width: 32px;
        background: url(/assets/_icons/search-x-passive.png) no-repeat center;
        background-size: 10px 10px;
        &:hover { 
          background: url(/assets/_icons/search-x-active.png) no-repeat center;
          background-size: 10px 10px;
          cursor: pointer; 
        }
        &.hidden {
          display: none;
        }
      }
      input[type="submit"] {
        position: absolute;
        right: 0; top: 0; bottom: 0;
        width: 40px;
        height: 36px;
        padding: 0;
        border: none;
        background: $colorOoze url(/assets/_icons/search-submit-passive.png) no-repeat 9px center;
        background-size: 20px 20px;
        border-radius: 0 18px 18px 0;
        outline: none;
      }
      input[type="submit"]:active {
        background-position: 9px 9px;
      }
    }
  }

  .feeds-wrap-inner {
    // opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;    
  }

  // Pre-Search stuff (before a user searches)
  .pre-search {
    padding: 20px 15px;
    border-top: 1px solid $colorMurkLight;
    h4 {
      font-size: 16px;
      line-height: 20px;
      color: rgba(255,255,255,0.95);
      font-weight: 300;
      margin: 0 0 12px 0;
    }
    p {
      font-weight: 300;
      color: rgba(255,255,255,0.5);
      margin: 0 0 20px 0;
      a {
        color: $colorOoze;
      }
    }
    .pills { @include clearfix; margin: 0 0 24px 0; }
    .pills li {
      list-style: none;
      float: left;
      margin: 0 6px 6px 0;
      a {
        display: block;
        padding: 6px 9px;
        background: $colorMurkDark;
        color: $colorMermaid;
        cursor: pointer;
        font-weight: 300;
        border-radius: $radius;
        -moz-transition: color .25s ease-in-out;
        -webkit-transition: color .25s ease-in-out;
        -o-transition: color .25s ease-in-out;
        transition: color .25s ease-in-out;
      }
      a:active {
        top: 1px;
      }
    }
  }

  .feed {
    display: table;
    overflow:hidden; width:auto; 
    padding: 14px 14px; 
    cursor: pointer;
    border-bottom: 1px solid $colorMurkLight;
    background-color: transparent;
    transition: background-color 0.1s ease-in-out;
    &:first-child {
      border-top: 1px solid $colorMurkLight;
    }

    .thumbnail {
      display: table-cell;
      height: 40px;
      width: 40px;
      img {
        display: block;
        height: 40px;
        width: 40px;
        border-radius: 4px;
      }
    }

    .text {
      width: 100%;
      display: table-cell;
      vertical-align: middle;
      padding: 0 10px 0 11px;
      background: transparent url(/assets/_icons/feed-carrot-passive.png) right center no-repeat;
      background-size: 8px 14px;
      transition: background-image 0.1s ease-in-out;

      h3 {
        margin: 0;
        padding-right: 10px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
        color: rgba(255,255,255,0.6);
        transition: color 0.1s ease-in-out;
      }

    }

  }

}

//LARGE SCREEN
@media only screen and (min-width: 800px) {
  .feeds .title-box {
    width: 300px;
    position: fixed;
    border-bottom: 1px solid $colorMurkDark;
  }

  .feeds .title-box form .search-clear { display: none; }

  .feeds-wrap-inner {
    top: 207px; // height of .title-box
  }

  // Hover state for recommended search links
  .pre-search .pills li a:hover {
    color: $colorOoze;
  }

  .feeds .feed:hover {
    background-color: $colorMurkDark;
    transition: background-color 0.1s ease-in-out;
    .thumbnail img { -webkit-filter: grayscale(0); }
    .thumbnail:before { background: none; }
  }

  .feeds .feed.active {
    background-color: rgba(50,171,193,0.77); 
    transition: background-color 0.1s ease-in-out;
    .thumbnail img { -webkit-filter: grayscale(0); }
    .thumbnail:before { background: none; }
    .text {
      background-image: url(/assets/_icons/feed-carrot-active.png);
      transition: background-image 0.1s ease-in-out;
      h3 {
        color: #fff;
        transition: color 0.1s ease-in-out;
      }
    }
  }

  .feeds .feed:active .text h3 {
    top: 1px;
  }


}