.feeds {
  background: $dark-primary;
  padding: 12px 0;
  width: 290px;
  position: fixed;
  bottom: 0;
  top: 0; 
  left: 0;
  overflow-y: auto;
  color: #fff;
  border-right: 1px solid $dark-border-dark;

  .feed {
    display: table;
    overflow:hidden; width:auto; 
    padding: 10px 12px; 
    cursor: pointer;
    border-top: 1px solid $dark-border-light;
    border-bottom: 1px solid $dark-border-dark;
    background-color: transparent;
    transition: background-color 0.1s ease-in-out;


    .thumbnail {
      display: table-cell;
      height: 40px;
      width: 40px;
      border-radius: 4px;
    }

    .text {
      width: 225px; /* 225 + 40 (image) */
      display: table-cell;
      vertical-align: middle;
      padding: 0 10px;
      background: transparent url(/assets/_icons/feed-carrot-passive.png) right center no-repeat;
      background-size: 8px 12px;
      transition: background-image 0.1s ease-in-out;

      h3 {
        margin: 0;
        padding-right: 10px;
        font-size: 14px;
        font-weight: 600;
        color: #9ba1a8;
        transition: color 0.1s ease-in-out;
      }

    }

  }

}

.feeds .feed:hover {
  border-top: 1px solid rgba(31,37,42,0.18);
  background-color: rgba(31,37,42,0.27);
  transition: background-color 0.1s ease-in-out;
}

.feeds .feed.active {
  border-bottom: 1px solid $dark-border-darker;
  border-top: 1px solid $dark-border-darker;
  background-color: $dark-primary-active; 
  transition: background-color 0.1s ease-in-out;
  .text {
    background-image: url(/assets/_icons/feed-carrot-active.png);
    transition: background-image 0.1s ease-in-out;
    h3 {
      color: #eaf1f8;
      transition: color 0.1s ease-in-out;
    }
  }
}

.feeds .feed:active .text h3 {
    top: 1px;
}