// SMALL SCREEN

    .side {
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      z-index: 5; 
    }
    .main { 
      min-height: 100%;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }

    .mobile body.showing-details .side {
      z-index: 2;
    }
    body.showing-details .main {
      background: #fff;
      z-index: 3;
    }

// LARGE SCREEN

    @media only screen and (min-width: 800px) {
      .side { width: 300px; }
      .main { padding-left: 300px; }
    }