// SMALL SCREEN

    .side {
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      z-index: 1; 
    }

    .main {
      left: 0; top: 0; bottom: 0;
      position: fixed;
      width: 100%;
      overflow-y: auto;
    }
    body.showing-details .main {
      z-index: 2;
      background: $grey;
    }

// LARGE SCREEN

    @media only screen and (min-width : 1000px) {
      .side { width: 300px; }
      .main { left: 300px;  }
      body.showing-details .main { background: #fff; }
    }