* { margin: 0; padding: 0; position: relative; box-sizing: border-box;}

@mixin clearfix {
    zoom:1;
    &:before, &:after {
      content: " ";
      display: table;
    }
    &:after {
        clear: both;
    }
}

html,body { height: 100%; }
body { 
  font-family: "Open Sans", "Helvetica Neue";
  background: #fff;
  font-size: 15px;
  line-height: 20px;
  color: #4f4f4f;
}

a {
  text-decoration: none;
  color: #006FAD;
}

