// Spinner / Loading Styling
// ---------------------------------------------

        .podcast_wrap_outer {
          .spinner {
            background: white;
            position: fixed;
            height: 100%;
            left: 0;
            right: 0;
            z-index: 5;
            .spinner_inner_wrap {
              top: 50%;
              margin-top: -44px;
              p {
                text-align: center;
                text-transform: uppercase;
                font-weight: 400;
                color: $colorNiceBlue;
                font-size: 12px;
                letter-spacing: 0.5px;
                line-height: 18px;
                img {
                  text-align: center;
                  margin: 0 auto;
                  display: block;
                }
                span {
                  display: block;
                  margin-top: 14px;
                }
              }
            }
          }
        }

// PODCAST/EPISODES VIEW
// ---------------------------------------------
// Styled for mobile out of the box, with large screen overrides further below

        .back-to { height: 54px; overflow: hidden; background: $colorWetAsphalt; }
        .back-to a { padding: 0 $sidePadding; line-height: 54px; display: block; font-weight: 300; color: rgba(255,255,255,0.6); font-size: 14px; }
        .back-to a:active { top: 1px; }

        .pod-wrap { padding: 12px; max-width: 640px; margin: 0 auto;

          .pod-title { min-height: 80px; display: table; margin: 0 0 16px 0; padding: 0 0 16px 0; border-bottom: 1px solid $colorSilver;
            .thumb { display: table-cell; width: 80px; height: 80px; }
            .thumb img { width: 80px; height: 80px; border-radius: $radius; background-color: $colorClouds; }
            .thumb img.error {
              display: block;
              position: relative;
              border: 1px solid $colorHalfSilver;
              background: $colorClouds url(/assets/_icons/feed-bg-default.png) center no-repeat;
              background-size: 24px 32px;
              height: 80px;
              width: 80px;
              content: "";
            }
            h1 { display: table-cell; width: 100%; padding: 0 0 0 14px; vertical-align: middle; font-size: 24px; line-height: 27px; color: #333; font-weight: 400; }
          }
          
          p { margin: 0 0 8px 0; }
          h4 { color: $colorConcrete; font-weight: 300; text-transform: uppercase; font-size: 13px; line-height: 15px; margin: 0 0 9px 0; }
          .pod-info { margin: 0 0 32px 0; }
          .pod-info .actions { @include clearfix; margin: 0 0 10px 0; }
          .pod-info .actions li { list-style: none; float: left; margin: 0 7px 0 0; }
          .pod-info .actions li a { display: block; padding: 0 9px; line-height: 32px; background: $colorAlizarin; color: #fff; font-weight: 300; border-radius: $radius; font-size: 14px; transition: background-color 0.2s ease; }
          .pod-info .actions li a:hover { background-color: $colorPomegranate; }
          .pod-info .actions li a:active { top: 1px; }
        }
        
        .ep-box .eps { margin: 14px 0 40px;
          .ep { list-style: none; background: $colorClouds; border-radius: $radius; overflow: hidden; margin: 0 0 20px 0; }
          .ep > a { display: block; background: $colorNiceBlue; color: #fff; padding: 13px $sidePadding 11px; transition: background-color 0.2s ease; }
          .ep > a:hover { background: $colorNiceBlueDark; }
          .ep > a .datetime { opacity: 0.6; font-weight: 300; font-size: 12px; line-height: 12px; margin: 0 0 5px 0; }
          .ep > a .datetime .time { display: none; }
          .ep > a h3 { font-weight: 300; font-size: 24px; line-height: 27px; padding-right: 57px; }
          .ep > a .play { position: absolute; top: 50%; right: 18px; margin-top: -18px; background: $colorWetAsphalt; width: 36px; height: 36px; border-radius: 18px; }
          .ep > a .play span { display: block; margin: 7px 0 0 14px; width: 22px; height: 22px; border-top: 11px solid transparent; border-bottom: 11px solid transparent; border-left: 11px solid #fff; 
                                transform: scaleY(.5);
                                -ms-transform: scaleY(.5);
                                -webkit-transform: scaleY(.5); }
          .ep .desc { padding: 12px $sidePadding 10px; margin: 0; border-bottom: 1px solid $colorHalfSilver; }
          .ep .sub { @include clearfix; padding: 12px $sidePadding 10px; }
          .ep .sub > li { list-style: none; float: left; font-size: 13px; color: $colorConcrete }
          .ep .sub > li a { color: $colorNiceBlue; }
          .ep .sub > li a:hover { color: $colorNiceBlueDark; transition: background-color 0.2s ease; }
          .ep .sub > li.r { float: right; }
        }

// Large Screen! Responsiveness.
// ---------------------------------------------

        @media only screen and (min-width: 800px) {
          .back-to { display: none; }
          .pod-wrap { padding: 24px; }
          .podcast_wrap_outer .spinner { left: 300px; }
        }