<!DOCTYPE html>
<html>
<head>
  <title>PodGnostic // iTunes Podcast Search, Made Easy</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>

  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700' rel='stylesheet' type='text/css'>

</head>
<body>

<%= yield %>

</body>
</html>
